<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rank2Movie 게시판</title>
		<link
			rel="stylesheet"
			href="/static/css/board.css
    "
		/>
	</head>
	<body>
		<div class="BoxWrapper">
			<div class="titleBox">
				<div class="BoxTitle">커뮤니티</div>
				<div class="sortBox">
					<span>최신</span>
					<span>많이본</span>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
			<div class="communityBox">
				<img src="" alt="" class="communityImage" />
				<div class="communityTitleTextBox">
					<div class="communityTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<div class="communityText">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia accusantium nihil, eaque, id praesentium magnam, blanditiis ad assumenda aperiam repellendus voluptatum
						eligendi facilis esse cum sunt soluta doloremque est maxime! Magni assumenda tenetur tempore incidunt error odit officia, vitae voluptatem quidem recusandae sint natus rem
						labore sapiente a atque consectetur nam voluptatum neque veritatis aspernatur similique autem expedita. Quo, suscipit. Animi tenetur doloribus, dignissimos, quo nostrum
						voluptatum labore nobis temporibus ullam porro velit consequuntur obcaecati? Nisi beatae, quam atque ullam eum mollitia, suscipit perspiciatis ipsam magni quo blanditiis
						quaerat perferendis. Delectus, officiis neque omnis, vero, totam sit repellat dolorum a libero recusandae hic ex in doloribus. Odio inventore nulla repellat nemo sequi
						dignissimos fuga magni! Eius aut qui labore maiores! Distinctio suscipit debitis enim non, itaque sequi ratione? Expedita officiis aperiam, quod adipisci repellat, officia
						libero esse, est impedit a accusantium cumque reprehenderit obcaecati deleniti sunt eius quas voluptas delectus. Repellat maiores, error mollitia, unde debitis, illo maxime
						dolor tempora nam ratione quasi pariatur eos hic nihil deleniti vel blanditiis consequatur sequi. Aut corporis, numquam quibusdam vitae nihil est tempora. Aut odio ratione ab
						velit necessitatibus magnam placeat quaerat incidunt eligendi nihil commodi, numquam vero, repellat eveniet autem doloremque tenetur quas voluptatum? Expedita reprehenderit
						ducimus delectus, perspiciatis quidem et facilis. Fuga iusto unde esse quaerat aliquam, laboriosam assumenda quibusdam sed velit praesentium dolorum atque dolorem culpa
						perferendis libero corporis debitis dignissimos! Doloribus dolore officiis, quisquam culpa at repudiandae blanditiis delectus. Nobis aperiam inventore numquam voluptatum?
						Reprehenderit dolorem rerum quam error eos recusandae eaque dicta autem aliquid, cum minima sit iste aperiam enim ex accusamus in totam! Cumque repellat tempora tenetur! Sequi
						ad illum consectetur doloremque rerum culpa neque maiores velit fugit adipisci vero earum error atque, praesentium similique deleniti itaque magni dolor inventore harum
						recusandae optio tempore non! Consequuntur, numquam.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
