<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>Rank2Movie</title>
	</head>
	<body>
		<!-- 오랜지색 박스 -->
		<div class="orangeBox">
			<div class="menuBox">
				<div class="homeBtn">
					<a href="" class="btnText">홈</a>
				</div>
				<div class="rankingBtn">
					<a href="" class="btnText">랭킹</a>
				</div>
				<div class="boardBtn">
					<a href="" class="btnText">게시판</a>
				</div>
				<div class="chattingBtn">
					<a href="" class="btnText">채팅</a>
				</div>
			</div>
			<!-- <div class="titleBox">어쩌고 저쩌고</div> -->
		</div>

		<!-- 탑랭킹 영화 topBox -->
		<div class="posterBoxWrapper" id="topBox">
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
		</div>

		<!-- 검색바 -->
		<div class="searchbarWrapper">
			<input type="text" class="searchbar" placeholder="영화, 인물 검색" />
			<button class="searchBtn">검색</button>
		</div>

		<!-- 탑랭킹 영화들 bottomBox-->
		<div class="posterBoxWrapper" id="bottomBox">
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
			<div class="posterBox">
				<div class="poster">
					<img src="" alt="" class="posterImage" />
				</div>
				<div class="posterText">Lorem, ipsum.</div>
			</div>
		</div>

		<div class="boxWrapperWrapper">
			<!-- 채팅박스 -->
			<div class="BoxWrapper">
				<div class="titleBox">
					<div class="BoxTitle">커뮤니티</div>
					<button class="moreBtn">더보기</button>
				</div>
				<div class="chattingBox">
					<div class="chattingTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="chattingImage" />
				</div>
				<div class="chattingBox">
					<div class="chattingTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="chattingImage" />
				</div>
				<div class="chattingBox">
					<div class="chattingTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="chattingImage" />
				</div>
				<div class="chattingBox">
					<div class="chattingTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="chattingImage" />
				</div>
				<div class="chattingBox">
					<div class="chattingTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="chattingImage" />
				</div>
				<div class="chattingBox">
					<div class="chattingTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="chattingImage" />
				</div>
			</div>

			<!-- 게시물박스 -->
			<div class="BoxWrapper">
				<div class="titleBox">
					<div class="BoxTitle">게시물</div>
					<button class="moreBtn">더보기</button>
				</div>
				<div class="boardBox">
					<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="boardImage" />
				</div>
				<div class="boardBox">
					<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="boardImage" />
				</div>
				<div class="boardBox">
					<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="boardImage" />
				</div>
				<div class="boardBox">
					<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="boardImage" />
				</div>
				<div class="boardBox">
					<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="boardImage" />
				</div>
				<div class="boardBox">
					<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
					<img src="" alt="" class="boardImage" />
				</div>
			</div>
		</div>
	</body>
</html>
