<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->

    <link rel="stylesheet" href="/ranking.css">

</head>
<body>
    <header>
        <nav class="">
            일단은 내비바 어케 될지 몰라서 구멍만 뚫어놨음
            <div style="width:100%; height:15vh;"></div>
        </nav>

    </header>
    <div class="main">
        <div style="min-height: 10%;"></div>
        <h2><b>예매순위</b></h2>
        <div class="rankingBox grid">
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
            <label class="ranking_num">1</label>
            <img src="/image/movie_poster.jfif" class="poster"></img>
            <a href="#" class="link_txt">탑건:매버릭</a><br>
            <div class="info_txt">
                평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
            </div>
            <div class="txt_others info_txt">
                개봉 22.08.10
            </div>
        </div>
            <div class="item">
            <label class="ranking_num">1</label>
            <img src="/image/movie_poster.jfif" class="poster"></img>
            <a href="#" class="link_txt">탑건:매버릭</a><br>
            <div class="info_txt">
                평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
            </div>
            <div class="txt_others info_txt">
                개봉 22.08.10
            </div>
        </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>

        </div>

    </div>

</body>
</html>