#movieBox{
    display: grid;
    width: 120rem;
    margin: 0 auto;

    grid-template-columns: repeat(5, 20rem);
    grid-template-rows: repeat(6, 40rem);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;

}

.poster{
    height:30rem;
    width:20rem;
    border-radius: 10px;
    margin-bottom: 10px;
}


.item{
    width: 20rem;
    height: 40rem;
}