<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<div id="reputationBox">
    <label>like</label>
    <button>20</button>
    <br>
    <label>dislike YOU</label>
    <button>20</button>
</div>
<br><br><br>
<label id="owner"></label><br>
<label>NAME : </label> <input id="name" type="text" disabled><br>
<label>ID : </label> <input id="id" type="text" disabled><br>
<label>PW : </label> <input id="pw" type="text" disabled><br>
<label>INTRODUCE : </label><br>
<textarea id="detail" disabled>

</textarea>

<div id="dangerBox">
    <button>수정</button>
    <button>삭제</button>
</div>

<script src="/js/user/detail.js"></script>
<script>
    getDetail();
</script>

</body>
</html>