<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

    <form id="loginForm" action="/user/loginprocess" method="post">
        <label>아이디 : </label> <input name="id" id="id" type="text"><br>
        <label>패스워드 : </label> <input name="password" id="password" type="password"><br>

    </form>
    <button onclick="login()">확인</button>
    <script src="/js/user/login.js"></script>

</body>
</html>