<html layout:decorate="~{user_layout}">
<div layout:fragment="content" >
    <link rel="stylesheet" type="text/css" href="/css/user/login.css">

    <div class="main">
        <div style="min-height: 10vh;">
        </div>
        <h1><a href="/" class="logo">Rank2Movie</a></h1>
        <div style="min-height: 30vh;">
        </div>
        <form id="loginForm" class="loginBox" action="/user/loginprocess" method="post">
            <input name="id" id="id" type="text" class="item" placeholder="아이디">
            <input name="password" id="password" type="password" class="item" placeholder="비밀번호">
            <button onclick="login()" class="item loginBtn">확인</button>
        </form>

    </div>
    <script src="/js/user/login.js"></script>
</div>
</html>
