<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<label>ID : </label> <input id="id" type="text">
<button onclick="idCheck()">중복확인</button>
<br>
<label>PW : </label> <input id="pw" type="text"><br>
<label>rePW : </label> <input id="repw" type="text"><br>
<label>NAME : </label> <input id="name" type="text"><br>
<button onclick="signup()">확인</button>

<script src="/js/user/signup.js"></script>

</body>
</html>
