<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">  <!--템플릿 상속-->
<div layout:fragment="content" class="container">   <!-- layout의 content fragment에 삽입 -->
<!--    <button>1점</button>-->
<!--    <button>2점</button>-->
<!--    <button>3점</button>-->
<!--    <button>4점</button>-->
<!--    <button>5점</button>-->
    <form action="memberRegi.do" method="post">
        평점 : <input type="text" name="userName">
        <input type="submit" value="전송버튼">
    </form>
</div>
</html>