<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="inserted_board.css" />
</head>
<body>
<div class="boardElement">
    <img src="3351384.png" alt="" class="poster" />
    <div class="boardTextBox">
        <div class="boardTitleBox">
            <h2 class="boardTitle">이것은 게시물 제목입니다</h2>
            <span class="comment">3</span>
        </div>
        <p class="boardSummary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione recusandae quam nostrum rem earum, non libero doloremque, commodi cumque ullam minus necessitatibus, quibusdam
            soluta ab perferendis veniam aspernatur architecto?
        </p>
    </div>
    <div class="boardInfo">
        <span class="boardWriter">익명1</span>
        <span class="boardDate">2022.12.10</span>
    </div>
</div>

<div class="boardElement">
    <img src="3351384.png" alt="" class="poster" />
    <div class="boardTextBox">
        <div class="boardTitleBox">
            <h2 class="boardTitle">이것은 게시물 제목입니다</h2>
            <span class="comment">3</span>
        </div>
        <p class="boardSummary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione recusandae quam nostrum rem earum, non libero doloremque, commodi cumque ullam minus necessitatibus, quibusdam
            soluta ab perferendis veniam aspernatur architecto?
        </p>
    </div>
    <div class="boardInfo">
        <span class="boardWriter">익명1</span>
        <span class="boardDate">2022.12.10</span>
    </div>
</div>

<div class="boardElement">
    <img src="3351384.png" alt="" class="poster" />
    <div class="boardTextBox">
        <div class="boardTitleBox">
            <h2 class="boardTitle">이것은 게시물 제목입니다</h2>
            <span class="comment">3</span>
        </div>
        <p class="boardSummary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione recusandae quam nostrum rem earum, non libero doloremque, commodi cumque ullam minus necessitatibus, quibusdam
            soluta ab perferendis veniam aspernatur architecto?
        </p>
    </div>
    <div class="boardInfo">
        <span class="boardWriter">익명1</span>
        <span class="boardDate">2022.12.10</span>
    </div>
</div>

<div class="boardElement">
    <img src="3351384.png" alt="" class="poster" />
    <div class="boardTextBox">
        <div class="boardTitleBox">
            <h2 class="boardTitle">이것은 게시물 제목입니다</h2>
            <span class="comment">3</span>
        </div>
        <p class="boardSummary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione recusandae quam nostrum rem earum, non libero doloremque, commodi cumque ullam minus necessitatibus, quibusdam
            soluta ab perferendis veniam aspernatur architecto?
        </p>
    </div>
    <div class="boardInfo">
        <span class="boardWriter">익명1</span>
        <span class="boardDate">2022.12.10</span>
    </div>
</div>
<div class="boardElement">
    <img src="3351384.png" alt="" class="poster" />
    <div class="boardTextBox">
        <div class="boardTitleBox">
            <h2 class="boardTitle">이것은 게시물 제목입니다</h2>
            <span class="comment">3</span>
        </div>
        <p class="boardSummary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione recusandae quam nostrum rem earum, non libero doloremque, commodi cumque ullam minus necessitatibus, quibusdam
            soluta ab perferendis veniam aspernatur architecto?
        </p>
    </div>
    <div class="boardInfo">
        <span class="boardWriter">익명1</span>
        <span class="boardDate">2022.12.10</span>
    </div>
</div>
<div class="boardElement">
    <img src="3351384.png" alt="" class="poster" />
    <div class="boardTextBox">
        <div class="boardTitleBox">
            <h2 class="boardTitle">이것은 게시물 제목입니다</h2>
            <span class="comment">3</span>
        </div>
        <p class="boardSummary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione recusandae quam nostrum rem earum, non libero doloremque, commodi cumque ullam minus necessitatibus, quibusdam
            soluta ab perferendis veniam aspernatur architecto?
        </p>
    </div>
    <div class="boardInfo">
        <span class="boardWriter">익명1</span>
        <span class="boardDate">2022.12.10</span>
    </div>
</div>
</body>
</html>
