<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="inserted_board.css" />
</head>
<body>
    <div id="boardBox"></div>
    <div id="pageBox"></div>

    <script>

        const parent = window.parent.document;
        const urlParams = new URL(parent.location.href).searchParams;
        const code = urlParams.get('code');

        pageChange(0);

        function pageChange(num)
        {
            $.ajax({
            url : "/board/movie_list",
            data : {code : code, page : num},
            method : "GET",
            success : (data) => {
                console.log(data);
                var boardHtml = "";
                for(var i=0; i < data.boards.length; i++)
                {
                    boardHtml += `    
                         <div class="boardElement">
                         <img src="3351384.png" alt="" class="poster" />
                         <div class="boardTextBox">
                             <div class="boardTitleBox">
                                 <h1 style="display: inline-block;" onclick="detail(${data.boards[i].boardNo})" class="boardTitle">${data.boards[i].title}</h1>
                                 <span class="comment">${data.boards[i].comments}</span>
                             </div>
                             <p class="boardSummary">
                                
                             </p>
                         </div>
                         <div class="boardInfo">
                             <span class="boardWriter">${data.boards[i].writer}</span>
                             <span class="boardDate">${data.boards[i].date}</span>
                         </div>
                        </div>
                   `;
                }

                $("#boardBox").html(boardHtml);

                
            },
            error : (e) => console.log(e.responseText)

            });
        }
        
        function detail(no)
        {
            parent.location.href = "/board/" + no;

        }
        




    </script>

</body>
</html>
