<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

        <span class="movieList"></span>

<!--        <script type="text/javascript">-->
<!--            fetch("/movie/20187861")-->
<!--                .then((response) => response.json())-->
<!--                .then(function (data) {-->
<!--                    console.log(data);-->
<!--                    //JSON을 문자열로-->
<!--                    document.querySelector(".movieList").innerText = JSON.stringify(data);-->
<!--                });-->
<!--        </script>-->
</body>
</html>