.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BoxWrapper {
	width: 700px;
}

.titleBox {
	display: flex;
	flex-direction: row;
	width: 700px;
	justify-content: space-between;
	align-content: center;
	margin: 5rem 0px;
}

.BoxTitle {
	font-size: 4rem;
	font-weight: 600;
}

.sortBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 10px;
	width: 100px;
}

.communityBox {
	width: 700px;
	display: flex;
	flex-direction: row;
	margin: 15px 0px;
}

.communityImage {
	background-color: aquamarine;
	margin-right: 20px;
	width: 100px;
	height: 60px;
}

.communityTitle {
	width: 500px;
}

.communityText {
	font-size: 1px;
	width: 580px;
	height: 30px;
	color: gray;
	overflow: hidden;
}

.clickedSort{
	font-weight: bolder;
}

.communityTitle:hover{
	cursor: pointer;
}