@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 12px;
	margin: 0px;
}

.orangeBox {
	width: 100vw;
	background-color: orange;
	height: 25rem;
	padding-top: 3rem;
}

.posterBoxWrapper {
	position: relative;
	transform: translate(-50%, -50%);
	left: 50%;
	width: 90rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.posterBox {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.poster:hover {
	position: relative;
	top: -5%;
}

.posterImage {
	width: 15rem;
	height: 20rem;
}

.posterText {
	font-size: 1.5rem;
	font-weight: 400;
}

.searchbarWrapper {
	margin: auto;
	margin-bottom: 12.5rem;
	width: 60rem;
	height: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.searchbar {
	border: none;
	outline: none;
	/*font-size: calc(1.0rem - 1.0vw);*/
	font-size: 20px;
	width: 50rem;
}

.searchBtn {
	border: none;
	background-color: white;
	font-size: 2rem;
	padding: 0px;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.3rem;
}

.searchBtn:hover {
	cursor: pointer;
}


/*#bottomBox {*/
/*	position: relative;*/
/*	transform: translate(0%, 0%);*/
/*	left: 0%;*/
/*	margin: auto;*/
/*	margin-top: 5%;*/
/*}*/

.boxWrapperWrapper {
	/*position: relative;*/
	/*top: 5%;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
	/*margin-top: 30px;*/
	/*margin-bottom: 12.5rem;*/
}

.BoxWrapper {
	width: 40rem;
}

.titleBox {
	display: flex;
	flex-direction: row;
	width: 40rem;
	justify-content: space-between;
	margin-bottom: 10px;
	height: 5rem;
}

.BoxTitle {
	font-weight: 600;
	font-size: 3rem;
}

.moreBtn {
	border-radius: 10px;
	border: solid gray 1px;
	background-color: white;
	font-size: 10px;
	margin-top: 7px;
	height: 20px;
	padding: 3px 10px;
}

.boardBox {
	width: 40rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0px;
}

.boardTitle {
	width: 30rem;
}

.boardImage {
	background-color: aquamarine;
	width: 6rem;
	height: 4rem;
}

.chattingBox {
	width: 40rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0px;
}

.chattingTitle {
	width: 30rem;
	margin-left: 3rem;
}

.chattingImage {
	background-color: aquamarine;
	width: 5rem;
	height: 5rem;
	border-radius: 1000px;
}


