
/*.main{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

#rankingTitle{
    margin: 5rem 0px;
}

.rankingBox{
    display: grid;
    width: 90vw;
    margin: 0 auto;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;

}

.item{
    min-width: 10rem;
    min-height: 20rem;
}

.link_txt{
    margin-top: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

.link_txt:hover{
    text-decoration: underline;
}

.info_txt{
    font-size: 13px;
    min-width: 100%;
}

.txt_grade{
    padding-left: 3px;
    color: #e92130;
}

.txt_num{
    padding-left: 5px;
}

.txt_others{

    color: #98989C;
}

.poster{
    height:80%;
    width:100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.ranking_num{
    z-index:1;
    position: absolute;
    font-size: 32px;
    color: #FFF;
    font-style: italic;
    margin: 10px;
    /*top: 5px;
    left: 13px;*/
}