<html layout:decorate="~{layout}">

<div layout:fragment="content">
	<link rel="stylesheet" href="/css/main/index.css" />

	<!-- 오랜지색 박스 -->
	<div class="orangeBox">

		<!-- <div class="titleBox">어쩌고 저쩌고</div> -->
	</div>

	<!-- 탑랭킹 영화 topBox -->
	<div class="posterBoxWrapper" id="topBox">
		<div class="posterBox">
			<div class="poster">
				<img src="" alt="" class="posterImage" />
			</div>
			<div class="posterText">Lorem, ipsum.</div>
		</div>
		<div class="posterBox">
			<div class="poster">
				<img src="" alt="" class="posterImage" />
			</div>
			<div class="posterText">Lorem, ipsum.</div>
		</div>
		<div class="posterBox">
			<div class="poster">
				<img src="" alt="" class="posterImage" />
			</div>
			<div class="posterText">Lorem, ipsum.</div>
		</div>
		<div class="posterBox">
			<div class="poster">
				<img src="" alt="" class="posterImage" />
			</div>
			<div class="posterText">Lorem, ipsum.</div>
		</div>
		<div class="posterBox">
			<div class="poster">
				<img src="" alt="" class="posterImage" />
			</div>
			<div class="posterText">Lorem, ipsum.</div>
		</div>
	</div>

	<!-- 검색바 -->
	<div class="searchbarWrapper">
		<input type="text" class="searchbar" placeholder="영화, 인물 검색" />
		<button class="searchBtn">검색</button>
	</div>

	<!-- 탑랭킹 영화들 bottomBox-->
<!--	<div class="posterBoxWrapper" id="bottomBox">-->
<!--		<div class="posterBox">-->
<!--			<div class="poster">-->
<!--				<img src="" alt="" class="posterImage" />-->
<!--			</div>-->
<!--			<div class="posterText">Lorem, ipsum.</div>-->
<!--		</div>-->
<!--		<div class="posterBox">-->
<!--			<div class="poster">-->
<!--				<img src="" alt="" class="posterImage" />-->
<!--			</div>-->
<!--			<div class="posterText">Lorem, ipsum.</div>-->
<!--		</div>-->
<!--		<div class="posterBox">-->
<!--			<div class="poster">-->
<!--				<img src="" alt="" class="posterImage" />-->
<!--			</div>-->
<!--			<div class="posterText">Lorem, ipsum.</div>-->
<!--		</div>-->
<!--		<div class="posterBox">-->
<!--			<div class="poster">-->
<!--				<img src="" alt="" class="posterImage" />-->
<!--			</div>-->
<!--			<div class="posterText">Lorem, ipsum.</div>-->
<!--		</div>-->
<!--		<div class="posterBox">-->
<!--			<div class="poster">-->
<!--				<img src="" alt="" class="posterImage" />-->
<!--			</div>-->
<!--			<div class="posterText">Lorem, ipsum.</div>-->
<!--		</div>-->
<!--	</div>-->

	<div class="boxWrapperWrapper">

		<!-- 게시물박스 -->
		<div class="BoxWrapper">
			<div class="titleBox">
				<div class="BoxTitle">게시물</div>
				<button class="moreBtn">더보기</button>
			</div>
			<div class="boardBox">
				<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
				<img src="" alt="" class="boardImage" />
			</div>
			<div class="boardBox">
				<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
				<img src="" alt="" class="boardImage" />
			</div>
			<div class="boardBox">
				<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
				<img src="" alt="" class="boardImage" />
			</div>
			<div class="boardBox">
				<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
				<img src="" alt="" class="boardImage" />
			</div>
			<div class="boardBox">
				<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
				<img src="" alt="" class="boardImage" />
			</div>
			<div class="boardBox">
				<div class="boardTitle">"밥 때문에 왔다" 브래드 피트, 8년만에 사라진 화제성...</div>
				<img src="" alt="" class="boardImage" />
			</div>
		</div>

		<!-- 채팅박스 -->
		<div class="BoxWrapper">
			<div class="titleBox">
				<div class="BoxTitle">채팅</div>
				<button class="moreBtn">더보기</button>
			</div>
			<div class="chattingBox">
				<img src="" alt="" class="chattingImage" />
				<div class="chattingTitle">이거슨 메시지</div>
			</div>
			<div class="chattingBox">
				<img src="" alt="" class="chattingImage" />
				<div class="chattingTitle">이거슨 채팅</div>
			</div>
			<div class="chattingBox">
				<img src="" alt="" class="chattingImage" />
				<div class="chattingTitle">이거슨 카톡</div>
			</div>
			<div class="chattingBox">
				<img src="" alt="" class="chattingImage" />
				<div class="chattingTitle">이거슨 라인</div>
			</div>
			<div class="chattingBox">
				<img src="" alt="" class="chattingImage" />
				<div class="chattingTitle">이거슨 텔레그램</div>
			</div>
			<div class="chattingBox">
				<img src="" alt="" class="chattingImage" />
				<div class="chattingTitle">이거슨 디엠</div>
			</div>
		</div>

	</div>

</div>
</html>