<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <link rel="stylesheet" href="/css/main/ranking.css">
    <div class="main" style="background-color: #ececee; width: 100%">
        
        <div style="min-height: 50px;"></div>
        <div style="width: min-content; margin: 0 auto;">
            
        <div>
        <h2 ><b>예매순위</b></h2>
        </div>

        <div class="rankingBox grid">
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
            <label class="ranking_num">1</label>
            <img src="/image/movie_poster.jfif" class="poster"></img>
            <a href="#" class="link_txt">탑건:매버릭</a><br>
            <div class="info_txt">
                평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
            </div>
            <div class="txt_others info_txt">
                개봉 22.08.10
            </div>
        </div>
            <div class="item">
            <label class="ranking_num">1</label>
            <img src="/image/movie_poster.jfif" class="poster"></img>
            <a href="#" class="link_txt">탑건:매버릭</a><br>
            <div class="info_txt">
                평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
            </div>
            <div class="txt_others info_txt">
                개봉 22.08.10
            </div>
        </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>
            <div class="item">
                <label class="ranking_num">1</label>
                <img src="/image/movie_poster.jfif" class="poster"></img>
                <a href="#" class="link_txt">탑건:매버릭</a><br>
                <div class="info_txt">
                    평점 <span class="txt_grade">8.8</span>  <span class="txt_num">예매율 15.5%</span>
                </div>
                <div class="txt_others info_txt">
                    개봉 22.08.10
                </div>
            </div>

        </div>

        </div>
    </div>
</div>
</html>