<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <link rel="stylesheet" href="/css/main/ranking.css">
    <div class="main" style="background-color: #ececee; width: 100%">
        
        <div style="min-height: 50px;"></div>
        <div style="width: min-content; margin: 0 auto;">
            
        <div>

        <h2 style="display: inline-block;"><b>오늘의 박스오피스</b></h2>
        <a>영화 더보기 >></a>
        </div>

        <div id="daily_ranking" class="rankingBox grid">


        </div>

        <div>
            <h2 ><b>이번주 박스오피스</b></h2>
            </div>
    
            <div id="weekly_ranking" class="rankingBox grid">
    
    
            </div>

        
    </div>
    <script>
        $.ajax({
            url : "/movie/daily_ranking",
            data : {},
            method : "GET",
            success : (data) =>{
                var html = "";
                for(var i = 0; i < 10; i++)
                {
                    html += 
'                       <div class="item">'+
'                           <label class="ranking_num">' + data[i].rankNo + '</label>'+
'                           <img src="' + data[i].movie.imageUrl + '" class="poster"></img>'+
'                           <a href="#" class="link_txt">' + data[i].movie.titleKor + '</a><br>'+
'                           <div class="info_txt">'+
'                               평점 <span class="txt_grade">8.8</span>  <span class="txt_num">관객 ' + data[i].audiCnt + ' </span>'+
'                           </div>'+
'                           <div class="txt_others info_txt">'+
'                               개봉  ' + data[i].openDate   +
'                           </div>'+
'                       </div>';
                }

                $("#daily_ranking").html(html);

            },
            error : (e) => alert(e.responseText)

        });

        $.ajax({
            url : "/movie/weekly_ranking",
            data : {},
            method : "GET",
            success : (data) =>{
                var html = "";
                for(var i = 0; i < 10; i++)
                {
                    html += 
'                       <div class="item">'+
'                           <label class="ranking_num">' + data[i].rankNo + '</label>'+
'                           <img src="' + data[i].movie.imageUrl + '" class="poster"></img>'+
'                           <a href="#" class="link_txt">' + data[i].movie.titleKor + '</a><br>'+
'                           <div class="info_txt">'+
'                               평점 <span class="txt_grade">8.8</span>  <span class="txt_num">관객 ' + data[i].audiCnt + ' </span>'+
'                           </div>'+
'                           <div class="txt_others info_txt">'+
'                               개봉  ' + data[i].openDate   +
'                           </div>'+
'                       </div>';
                }

                $("#weekly_ranking").html(html);

            },
            error : (e) => alert(e.responseText)

        });

    </script>
</div>

</html>